:root {
	--container-header: 1790px;

	--container-width: 1492px;
	--container-padding: 15px;

	--font-main: "Gilroy";
	--font-accent-semibolt: "Chronicle Display Semibold";
	--font-accent-bolt: "Chronicle Display Bold";
	--font-titles: var(--font-accent-semibolt);
	--font-subtitles: var(--font-main);

	--page-bg: #fff;
	--text-color: #ffffff;
	--text-accent: #fbd784;
	--link-hover: #fbd784;
	//переменные для медиазапросов
	// --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;
	--laptop-size: var(--container-width);
	--tablet-size: 959px;
	--mobile-size: 599px;
	//переменный для медиазапросов
	$laptop-size: var(--container-width);
	$large-tablet-size: 991.98px;
	$tablet-size: 767.98px;
	$mobile-size: 479.98px;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}
