.footer {
	&__wrapper {
		padding-bottom: 120px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
.footer__copyright {
	flex: 1 1 62%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer__copyright-opp {
	color: rgba($color: #fff, $alpha: 0.5);
}
.footer__logo {
}
.logo {
}
.footer__text {
	margin-top: 24px;
	max-width: 303px;
	line-height: 32px;
}
.footer__nav {
	flex: 1 1 38%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer__nav-1 {
}
.footer__link {
	margin-top: 24px;
	&:first-child {
		margin-top: 0;
	}
}
.active {
	& h4 {
		color: var(--text-accent);
	}
}
.footer__nav-2 {
}
