.main-page {
  padding-top: 30%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  // justify-content: center;
  width: 100%;
  overflow: hidden;
  @media (hover: hover) and (pointer: fine) {
  }
  @media (min-width: 1024px) {
    padding-bottom: 10%;
    padding-top: 0%;
    justify-content: center;
  }
  &__wrapper {
  }
  &__title {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 88px;
    font-family: var(--font-accent-semibolt);
    margin-bottom: 55px;
    span {
      margin-bottom: 50px;
    }
  }
  &__sccroll-down {
    max-width: 150px;
    font-size: 18px;
    font-family: var(--font-main);
    display: flex;
    gap: 16px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.8, -0.8, 0.265, 1.55); /* easeInOutBack */
    svg {
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* easeInOutBack */
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover > svg {
        fill: var(--link-hover);
      }
      &:hover {
        transform: scale(1.5) translateY(30%) translateX(15%);
        color: var(--link-hover);
      }
    }
  }
}
.icon {
}
.arrow_down_white {
}
