.title-1 {
	font-size: 88px;
	font-weight: 400;
	line-height: 1.1;
	font-family: var(--font-titles);
}

.title-2 {
	margin: 0 0 27px;
	font-size: 64px;
	line-height: 1.2;
	font-weight: 400;
	font-family: var(--font-titles);
}

.title-3 {
	margin: 1em 0 0.5em;
	font-size: 26px;
	font-weight: 700;
	font-family: var(--font-titles);
}

.title-4 {
	line-height: 32px;
	font-size: 24px;
	font-weight: 700;
	font-family: var(--font-subtitles);
}

.sub-title {
	font-family: var(--font-subtitles);
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: var(--text-accent);
	line-height: 1.222;
}
.sub-title-line {
	position: relative;
	left: 72+32px;
	&::before {
		display: block;
		background-color: var(--text-accent);
		content: "";
		position: absolute;
		left: -72-32px;
		top: 10px;
		width: 72px;
		height: 2px;
	}
}
.logo {
	font-size: 32px;
	font-family: var(--font-accent-bolt);
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
